/* Importing some free fonts */

@font-face {
    font-family: "Cinzel-Bold";
    src: url('../resources/fonts/Cinzel-Bold.woff') format('woff'), url('../resources/fonts/Cinzel-Bold.ttf') format('ttf'), url('../resources/fonts/Cinzel-Bold.eot') format('eot');
}

@font-face {
    font-family: "CinzelDecorative-Bold";
    src: url('../resources/fonts/CinzelDecorative-Bold.woff') format('woff'), url('../resources/fonts/CinzelDecorative-Bold.ttf') format('ttf'), url('../resources/fonts/CinzelDecorative-Bold.eot') format('eot');
}

@font-face {
    font-family: "gregor";
    src: url('../resources/fonts/GregorianFLF.woff') format('woff'), url('../resources/fonts/GregorianFLF.ttf') format('ttf'), url('../resources/fonts/GregorianFLF.eot') format('eot');
}

@font-face {
    font-family: "calichamp";
    src: url('../resources/fonts/cac_champagne.woff') format('woff'), url('../resources/fonts/cac_champagne.ttf') format('ttf'), url('../resources/fonts/cac_champagne.eot') format('eot');
}

@font-face {
    font-family: "TimesH";
    src: url('../resources/fonts/happy-times-at-the-ikob-webfont.woff') format('woff'), url('../resources/fonts/happy-times-at-the-ikob-webfont.ttf') format('ttf'), url('../resources/fonts/happy-times-at-the-ikob-webfont.eot') format('eot');
}

@font-face {
    font-family: "HenryM";
    src: url('../resources/fonts/HenryMorganHand-webfont.woff') format('woff'), url('../resources/fonts/HenryMorganHand-webfont.ttf') format('ttf'), url('../resources/fonts/HenryMorganHand-webfont.eot') format('eot');
}

@font-face {
    font-family: "Chopin";
    src: url('../resources/fonts/ChopinScript.woff') format('woff'), url('../resources/fonts/ChopinScript.ttf') format('ttf'), url('../resources/fonts/ChopinScript.otf') format('otf'), url('../resources/fonts/ChopinScript.eot') format('eot');
}

@font-face {
    font-family: "Allura";
    src: url('../resources/fonts/Allura-Regular.woff') format('woff'), url('../resources/fonts/Allura-Regular.ttf') format('ttf'), url('../resources/fonts/Allura-Regular.otf') format('otf'), url('../resources/fonts/Allura-Regular.eot') format('eot');
}

@font-face {
    font-family: "MademoiselleC";
    src: url('../resources/fonts/MademoiselleC.woff') format('woff'), url('../resources/fonts/MademoiselleC.ttf') format('ttf'), url('../resources/fonts/MademoiselleC.eot') format('eot');
}

@font-face {
    font-family: "AlexBrush-Regular";
    src: url('../resources/fonts/AlexBrush-Regular.woff') format('woff'), url('../resources/fonts/AlexBrush-Regular.ttf') format('ttf'), url('../resources/fonts/AlexBrush-Regular.eot') format('eot');
}

@font-face {
    font-family: "Felipa-Regular";
    src: url('../resources/fonts/Felipa-Regular.woff') format('woff'), url('../resources/fonts/Felipa-Regular.ttf') format('ttf'), url('../resources/fonts/Felipa-Regular.eot') format('eot');
}

@font-face {
    font-family: "CaviarDreams";
    src: url('../resources/fonts/CaviarDreams.woff') format('woff'), url('../resources/fonts/CaviarDreams.ttf') format('ttf'), url('../resources/fonts/CaviarDreams.eot') format('eot');
}


/* Importing some free fonts */

html,
body {
    padding: 0%;
    margin: 0%;
}

body {
    background: #dee3e3;
    color: #242424;
    font-size: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes opacity-transition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*************************************************************** Login */

#login-form-container {
    width: 30%;
    height: 60%;
    border: none;
    border-radius: 0.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fdfdfd;
    box-shadow: 5px 5px 5px 1px rgba(8, 8, 8, 0.2);
    text-align: center;
    overflow: auto;
}

#login-form-container>i {
    font-size: 4em;
    margin-top: 5%;
}

#login-form-container>h1 {
    font-weight: normal;
    letter-spacing: 0.125rem;
    margin: 5% auto;
}

#login-form {
    margin: 7.5% auto;
    width: 80%;
    text-align: center;
}

#login-form>div {
    width: 100%;
    position: relative;
}

.form-input {
    width: 65%;
    padding: 2.5% 7.5%;
    margin: 5% 0%;
    color: #242424;
    border: none;
    border-bottom: 0.125rem solid #242424;
    font-size: 1.2em;
    text-align: left;
    outline: none;
}

.form-input:active,
.form-input:focus {
    text-align: left;
    background: inherit;
}

#login-form>div>i {
    cursor: pointer;
    position: absolute;
    width: 7.5%;
    color: #242424;
    right: 0%;
    bottom: 37.5%;
    font-size: 1.2em;
    text-align: center;
}

#login-button-container {
    display: none;
}

.crud-button,
.crud-button:focus,
.crud-button:active {
    display: block;
    margin: 1.25% auto;
    width: 40%;
    padding: 2.5%;
    background: transparent;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0.125rem solid #242424;
    transition: background 1s ease-in-out;
}

.crud-button:hover {
    background: rgba(222, 227, 227, 0.6);
    transition: background 1s ease-in-out;
}

a {
    text-decoration: none;
}

a:link,
a:active,
a:visited {
    color: inherit;
}

#spec-button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

#spec-button-container>p {
    width: 90%;
    font-style: normal;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#spec-button-container>p:nth-child(2) {
    text-align: right;
}

#spec-button-container>p:hover {
    font-style: italic;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}


/*************************************************************** Login */


/*************************************************************** Registration */

#register-form-container {
    width: 60%;
    border: none;
    border-radius: 0.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fdfdfd;
    box-shadow: 5px 5px 5px 1px rgba(8, 8, 8, 0.2);
    text-align: center;
    overflow: auto;
}

#register-form-container>i {
    font-size: 3.5em;
    margin-top: 2.5%;
}

#register-form-container>h1 {
    font-weight: normal;
    font-size: 1.8em;
    letter-spacing: 0.125rem;
    margin: 2.5% auto;
}

#message-to-user {
    font-size: 1.2em;
    display: none;
}

#register-form {
    margin: 2.5% auto;
    width: 90%;
    text-align: center;
}

#register-form>div {
    width: 100%;
    position: relative;
}

#name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#name-container>div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-label {
    width: 42.5%;
    margin-left: 7.5%;
    text-align: left;
    font-size: 1.2em;
}

.register-input-name {
    padding: 1.25%;
    margin: 1.25% 7.5%;
}

.register-input-credentials {
    width: 82.5%;
    padding: 1.25%;
    margin: 1.25% 0%;
}

#register-form>div>i {
    cursor: pointer;
    position: absolute;
    width: 10%;
    color: #242424;
    right: 0%;
    bottom: 37.5%;
    font-size: 1.2em;
    text-align: center;
}

#container-select-promotion {
    margin-top: 2.5%;
    text-align: left;
}

.select-promotion {
    width: 25%;
    max-height: 10vh;
    margin-left: 5%;
    padding: 0.5% 1.25%;
    font-size: 1.2em;
    cursor: pointer;
    border: 0.125rem solid #242424;
    background: #fdfdfd;
    border-radius: 0.25rem;
    text-align: center;
    max-height: 5vh;
}

.select-promotion:focus .option-select-promotion:checked {
    background: #363636;
    color: #fdfdfd;
    cursor: pointer;
}

.option-select-promotion {
    background: #fdfdfd;
    text-align: center;
    font-size: 1em;
    width: 100%;
    color: #242424;
    border: none;
    padding: 1% 0%;
    transition: all 0.25s ease-in-out;
    outline: none;
    cursor: pointer;
}

#register-button {
    margin: 5% auto;
    padding: 1.25%;
}


/*************************************************************** Registration */


/*************************************************************** Verify */

#section-verify {
    width: 100%;
    font-weight: normal;
}

#div-verify-container {
    text-align: center;
    width: 100%;
}

#title-verify-container {
    width: 100%;
}

#title-verify-4 {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 2.5% auto;
}

#title-verify-5 {
    font-size: 1.6em;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 2.5% auto;
}

#back-to-home-container {
    width: 2.5em;
    height: 2.5em;
    font-size: 5em;
    margin: 2.5% auto;
    background: #fdfdfd;
    border-radius: 50%;
    border: 0.125rem solid #242424;
    position: relative;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#back-to-home-container:hover {
    background: rgba(131, 126, 184, 0.6);
    transition: all 1s ease-in-out;
}

#circle-button-home,
#circle-button-home>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#activate-button-container {
    width: 60%;
    margin: auto;
}

#activation-link-button,
#back-verify-button,
#send-activation-link-button {
    background: #fdfdfd;
}

#activation-link-button:hover,
#back-verify-button:hover,
#send-activation-link-button:hover {
    background: rgba(131, 126, 184, 0.6);
}

#form-new-link-container {
    width: 60%;
    margin: 0% auto;
}

#form-new-link-container>input {
    padding: 2.5%;
}

#disclaimer-verify {
    font-size: 1.4em;
}


/*************************************************************** Verify */


/*************************************************************** Reset */

#reset-button {
    background: rgba(222, 227, 227, 0.6);
}

#reset-button:hover {
    background: #fdfdfd;
    transition: background 1s ease-in-out;
}


/*************************************************************** Reset */


/*************************************************************** Admin-Dashboard */

#admin-dashboard {
    width: 100%;
}

#global-container-admin {
    width: 90%;
    margin: 2.5% auto 0% auto;
    display: flex;
    flex-direction: row;
}

#filter-container {
    width: 20%;
    margin: 0%;
    border: 0.125rem solid #242424;
}

#t-fb {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

#filter-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#student {
    width: 80%;
    margin: 1.25% 9.5% 2.5% 9.5%;
    padding: 0.5% 0.5%;
    font-size: 1.2em;
    color: #242424;
    background: #fdfdfd;
    border: 0.125rem solid #242424;
    user-select: none;
    text-align: center;
    outline: none;
}

#student::placeholder {
    color: #545454;
    text-align: center;
}

.dash-select {
    width: 82.5%;
    margin: 2.5% 9.5% 2.5% 9.5%;
}

.date {
    width: 80%;
    margin: 1.25% 9.5% 2.5% 9.5%;
    padding: 0.5% 0.5%;
}

.date-input {
    width: 80%;
    margin: 1.25% 9.5% 2.5% 9.5%;
    padding: 0.5% 0.5%;
}

.dash-button,
.dash-button:active,
.dash-button:focus {
    width: 80%;
    padding: 0.5% 0.5%;
    margin: 5% 9.5%;
}

.dash-button:hover {
    background: #837eb8;
}

#table-container-admin {
    width: 75%;
    margin: auto 0% auto 5%;
}

#table-container-admin h4 {
    font-size: 1.4em;
    text-align: center;
    margin: 1.25% auto;
}

#table-admin-container {
    max-height: 40vh;
    overflow: auto;
}

#table-admin {
    width: 100%;
    margin: 0%;
    background: #242424;
    user-select: none;
    border: none;
    color: #242424;
    border-radius: 0.25rem;
    padding: 0.1rem;
    text-align: center;
}

#table-admin thead {
    font-weight: bold;
    font-size: 1.5em;
    color: #837eb8;
}

#table-admin thead th {
    padding: 0.5% 0%;
    background: #242424;
    position: sticky;
    top: 0%;
}

#table-admin tbody {
    text-align: center;
    background: #ebebeb;
}

#table-admin tbody tr {
    font-weight: normal;
    font-size: 1.3em;
}

#table-admin tbody tr td {
    padding: 0.5% 0%;
}

.td-status {
    cursor: pointer;
}

#map-container {
    margin: 1.25% 5% 1.25% 5%;
    width: 90%;
}

#map-container h3 {
    font-size: 1.6em;
    text-align: center;
}

#chartdiv {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: #242424;
}


/*************************************************************** Admin-Dashboard */


/*************************************************************** Dashboard */

@media all and (min-width: 1280px) and (min-height: 768px) and (max-height: 968px) {
    h1 {
        text-align: center;
    }
    #message-to-user {
        text-align: center;
    }
    #table-container-student {
        width: 75%;
        margin: auto 0% auto 5%;
    }
    #table-container-student h4 {
        font-size: 1.4em;
        text-align: center;
        margin: 1.25% auto;
    }
    #table-student-container {
        max-height: 40vh;
        overflow: auto;
    }
    #table-student {
        width: 100%;
        margin: 0%;
        background: #242424;
        user-select: none;
        border: none;
        color: #242424;
        border-radius: 0.25rem;
        padding: 0.1rem;
        text-align: center;
    }
    #table-student thead {
        font-weight: bold;
        font-size: 1.5em;
        color: #837eb8;
    }
    #table-student thead th {
        padding: 0.5% 0%;
        background: #242424;
        position: sticky;
        top: 0%;
    }
    #table-student tbody {
        text-align: center;
        background: #ebebeb;
    }
    #table-student tbody tr {
        font-weight: normal;
        font-size: 1.3em;
    }
    #table-student tbody tr td {
        padding: 0.5% 0%;
    }
    .td-status {
        cursor: pointer;
    }
}


/* Tablet style vw : 600-1024 and vh : 962-1366 */

@media all and (max-width: 1024px) and (max-height: 1366px) and (min-width: 768px) and (min-height: 1024px) {
    h1 {
        text-align: center;
    }
    #message-to-user {
        text-align: center;
    }
    #table-container-student {
        width: 75%;
        margin: auto 0% auto 5%;
    }
    #table-container-student h4 {
        font-size: 1.4em;
        text-align: center;
        margin: 1.25% auto;
    }
    #table-student-container {
        max-height: 40vh;
        overflow: auto;
    }
    #table-student {
        width: 100%;
        margin: 0%;
        background: #242424;
        user-select: none;
        border: none;
        color: #242424;
        border-radius: 0.25rem;
        padding: 0.1rem;
        text-align: center;
    }
    #table-student thead {
        font-weight: bold;
        font-size: 0.9em;
        color: #837eb8;
    }
    #table-student thead th {
        padding: 0.5% 0%;
        background: #242424;
        position: sticky;
        top: 0%;
    }
    #table-student tbody {
        text-align: center;
        background: #ebebeb;
    }
    #table-student tbody tr {
        font-weight: normal;
        font-size: 0.9em;
    }
    #table-student tbody tr td {
        padding: 0.5% 0%;
    }
    .td-status {
        cursor: pointer;
    }
    #addTravel-button {
        font-size: 0.9rem;
    }
    #chartdiv {
        height: 40vh;
    }
    #global-container-admin {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #table-container-admin {
        width: 90%;
        margin: auto 5%;
    }
    #filter-container {
        width: 90%;
        margin: auto 5%;
    }
}

@media all and (min-width: 896px) and (min-height: 1196px) and (max-width: 500px) and (min-height: 600px) {
    h1 {
        text-align: center;
    }
    #message-to-user {
        text-align: center;
    }
    #table-container-student {
        width: 75%;
        margin: auto 0% auto 5%;
    }
    #table-container-student h4 {
        font-size: 0.5em;
        text-align: center;
        margin: 1.25% auto;
    }
    #table-student-container {
        max-height: 10vh;
        overflow: auto;
    }
    #table-student {
        width: 100%;
        margin: 0%;
        background: #242424;
        user-select: none;
        border: none;
        color: #242424;
        border-radius: 0.25rem;
        padding: 0.1rem;
        text-align: center;
    }
    #table-student thead {
        font-weight: bold;
        font-size: 0.5em;
        color: #837eb8;
    }
    #table-student thead th {
        padding: 0.5% 0%;
        background: #242424;
        position: sticky;
        top: 0%;
    }
    #table-student tbody {
        text-align: center;
        background: #ebebeb;
    }
    #table-student tbody tr {
        font-weight: normal;
        font-size: 0.5em;
    }
    #table-student tbody tr td {
        padding: 0.5% 0%;
    }
    .td-status {
        cursor: pointer;
    }
    #addTravel-button {
        font-size: 0.5rem;
    }
    #global-container-admin {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #table-container-admin {
        width: 90%;
        margin: auto 5%;
    }
    #filter-container {
        width: 90%;
        margin: auto 5%;
    }
}


/*************************************************************** Dashboard */


/*************************************************************** Nav Bar */

#nav-bar {
    background: #242424;
    color: #fdfdfd;
    display: flex;
    flex-direction: row;
}

#t-nb {
    margin: 2.5% 0% 2.5% 5%;
    width: 30%;
}

#n-nb {
    margin: 2.5% 0% 2.5% 15%;
    font-size: 1.4em;
    width: 45%;
    text-align: right;
}

#sign-out-button {
    margin: 2.5% 0%;
    width: 5%;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}

#sign-out-button>i {
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#sign-out-button>i:hover {
    color: #837eb8;
}


/*************************************************************** Nav Bar */


/*************************************************************** ACCESS FORBIDDEN */

#section-af {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #242424;
    text-align: center;
}

#af-t-3 {
    font-family: 'Verdana', serif;
    font-weight: normal;
    font-size: 4em;
    margin: 2.5% auto 0% auto;
}

.icon-ban-af {
    font-size: 15em;
    margin-top: 5%;
    color: #ff2e1f;
}


/*************************************************************** ACCESS FORBIDDEN */


/*************************************************************** NOT FOUND */

#section-not-found {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #242424;
    text-align: center;
}

#not-found-t-3 {
    font-family: 'Verdana', serif;
    font-weight: normal;
    font-size: 4em;
    margin: 2.5% auto 0% auto;
}

.icon-search-nf {
    font-size: 15em;
    margin-top: 5%;
}


/*************************************************************** NOT FOUND */


/*************************************************************** SERVER ERROR */

#section-se {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #242424;
    text-align: center;
}

#se-t-3 {
    font-family: 'Verdana', serif;
    font-weight: normal;
    font-size: 4em;
    margin: 2.5% auto 0% auto;
}

.icon-server-se {
    font-size: 15em;
    margin-top: 5%;
}


/*************************************************************** SERVER ERROR */