<div id="login-form-container">
    <i class="fas fa-globe-europe" alt="Globe logo"></i>
    <h1>Connexion</h1>
    <p id="message-to-user"></p>
    <div id="login-form">
        <div>
            <input type="email" name="email" id="email-log" class="form-input" title="Please enter your email address here" placeholder="Votre adresse e-mail" required/>
        </div>
        <div>
            <input type="password" name="password" id="password-log" class="form-input" title="Please enter your password here" placeholder="Votre mot de passe" required/>
            <i class="fas fa-eye-slash" id="unmask-1" title="Cliquez-ici pour démasquer le mot de passe" onclick="maskOrUnmask('password-log','unmask-1')"></i>
        </div>
        <div id="login-button-container">
            <p id="login-button" class="crud-button" title="Cliquez-ici pour vous connecter" onclick="toLogIn()"><i class="fas fa-sign-in-alt"></i><span> Se connecter</span></p>
        </div>
        <div id="spec-button-container">
            <p onclick=" displayResetPasswordForm()" title="Cliquez-ici pour réinitialiser votre mot de passe">Mot de passe oublié ?</p>
            <p onclick="displayNewRegistrationMailForm()" title="Cliquez-ici pour renvoyer un lien d'activation">Lien d'activation non reçu ?</p>
        </div>
        <a href="Registration.php" title="Cliquez-ici pour vous inscrire" class="crud-button" id="register-button">S'inscrire</a>
    </div>
</div>