<div id="register-form-container">
    <i class="fas fa-user-alt"></i>
    <h1>Inscription</h1>
    <a href="Login.php" title="Cliquez-ici pour retourner sur la page de connexion" id="circle-button-home-registration"><i class="fas fa-home"></i></a>
    <p id="message-to-user"></p>
    <div id="register-form">
        <div id="name-container">
            <div>
                <label for="lastname" class="form-label">Nom</label>
                <label for="firstname" class="form-label">Prénom</label>
            </div>
            <div>
                <input type="text" name="lastname" id="lastname" maxlength="30" placeholder="Votre nom" required
                    class="form-input register-input-name" />
                <input type="text" name="name" id="firstname" maxlength="30" placeholder="Votre prénom" required
                    class="form-input register-input-name" />
            </div>
        </div>
        <div>
            <input type="email" name="email" id="email" title="Veuillez saisir votre e-mail" class="form-input register-input-credentials" placeholder="Votre adresse e-mail" required/>
        </div>
        <div>
            <input type="password" name="password" id="password" title="Veuillez confirmer votre mot de passe"  class="form-input register-input-credentials" placeholder="Votre mot de passe" required/>
            <i class="fas fa-eye-slash" id="unmask-1" title="Cliquez-ici pour démasquer le mot de passe" onclick="maskOrUnmask('password','unmask-1')"></i>
        </div>
        <div>
            <input type="password" name="confirmation-password" id="confirmation-password" title="Veuillez confirmer votre mot de passe" class="form-input register-input-credentials" placeholder="Votre mot de passe" required/>
            <i class="fas fa-eye-slash" id="unmask-2" title="Cliquez-ici pour démasquer le mot de passe" onclick="maskOrUnmask('confirmation-password','unmask-2')"></i>
        </div>
        <div id="container-select-promotion">
            <label for="promotion" class="form-label">Promotion</label>
            <select name="promotion" id="promotion" class="select-promotion" required>
                <option value="" class="option-select-promotion" selected disabled>Promotion</option>
                <option value="CITISE1" class="option-select-promotion">CITISE1</option>
                <option value="CITISE2" class="option-select-promotion">CITISE2</option>
                <option value="DCMIN1" class="option-select-promotion">DCMIN1</option>
                <option value="DCMIN2" class="option-select-promotion">DCMIN2</option>
                <option value="DE1" class="option-select-promotion">DE1</option>
                <option value="DE2" class="option-select-promotion">DE2</option>
                <option value="DE3" class="option-select-promotion">DE3</option>
                <option value="DTA" class="option-select-promotion">DTA</option>
                <option value="FISE1" class="option-select-promotion">FISE1</option>
                <option value="FISE2" class="option-select-promotion">FISE2</option>
                <option value="FISE3" class="option-select-promotion">FISE3</option>
                <option value="IPSI1" class="option-select-promotion">IPSI1</option>
                <option value="IPSI2" class="option-select-promotion">IPSI2</option>
                <option value="IPSI3" class="option-select-promotion">IPSI3</option>
                <option value="L3" class="option-select-promotion">L3</option>
                <option value="SMW" class="option-select-promotion">SMW</option>
            </select>
        </div>
        <div id="register-button-container">
            <p id="register-button" class="crud-button" title="Cliquez-ici pour vous inscrire" onclick="toRegister()">S'inscrire</p>
        </div>
    </div>
</div>