<!-- JQuery API-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Shortcut JS function -->
<script src="../../public/script/javascript/shortcut-functions.js"></script>

<!-- Password management -->
<script src="../../public/script/javascript/password-management.js"></script>

<!-- Login form controls -->
<script src="../../public/script/javascript/login-control.js"></script>

<!-- Registration form controls -->
<script src="../../public/script/javascript/registration-control.js"></script>

<!-- Activation link controls -->
<script src="../../public/script/javascript/activation-link.js"></script>

<!-- Reset password controls -->
<script src="../../public/script/javascript/reset-password.js"></script>

<script src="../../public/script/javascript/admin-dashboard.js"></script>
<!-- Add travels -->
<script src="../../public/script/javascript/travel-controls.js"></script>
